<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/head}"/>

<body>
<div class="wrapper">
    <!-- Navigation -->

    <th:block th:insert="~{fragments/navbar}"/>

     <section class="road">
        <div>
            <h2>Title</h2>
            <p>Very long description</p>
            <a href="/" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5" src="/images/pic1.jpg" alt="Title image">
    </section>
</div>
<!-- Wrapper Ends -->
</body>

<th:block th:insert="~{fragments/footer}"/>

</html>